<div class="container">
  <div>
    <a class="navbar-brand ">
      <img src="./assets/images/logo.jpg" alt="logo navbar" style="width: 200px; height: 50px;"/>
    </a>
  </div>
  <div>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Productos y servicios</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
  </div>
  <div>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Informacion importante para usuarios</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
  </div>
  <div>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Pagos y recargas</a>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </li>
  </div>
  <div class="bloqueUno">
    <div>
      5
    </div>
    <div>
      &nbsp;&nbsp; hola &nbsp;&nbsp;
    </div>
    <br>
    <div>
      <li class="dropdown">
          <button class="boton">Mi movistar</button>
        </li>
    </div>
  </div>
</div>
<!-- <ul>
    <li>
      <a class="navbar-brand ">
        <img
          src="./assets/images/logo.jpg"
          alt="logo navbar"
          style="width: 120px; height: 15px;"
        />
      </a>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Productos y servicios</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn"
        >Informacion importante para usuarios</a
      >
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Pagos y recargas</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Logo </a>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn"> Logo Dos</a>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Pagos y recargas</a>
    </li>
  </ul> -->
