

.portadaTres{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100% ;
  text-align: center;
}

.textTres{
  margin: -30px 0px 30px 0px;
  padding: 40px;
  display: inline-block;
  transform: translate(280%, -790%);


}








